.reveal {
  font-size: 32px;
}

.reveal p,
.reveal q {
  margin: 0 0 0.2em;
}

.reveal pre {
  line-height: 1.2em;
}

img.no-frame {
  border: 0 !important;
  box-shadow: none !important;
  background: none !important;
}